@import "src/styles/scaffold";

[data-fs-button-cart] {
  position: relative;

  [data-fs-button-cart-amount] {
    position: absolute;
    bottom: -4px;
    right: -8px;
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  [data-fs-button-cart-amount-top="true"] {
    position: absolute;
    top: -8px;
  }

  [data-fs-button-cart-amount-center="true"] {
    position: absolute;
    bottom: -4px;
    right: -8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
