@import "src/styles/scaffold";

.wishlist {
  padding: 40px 0;

  [data-fs-wishlist-products],
  [data-fs-product-shelf-items] {
    display: grid;
    grid-gap: 17px;

    @include media(">=tablet") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media(">=notebook") {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  [data-fs-wishlist-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    [data-fs-wishlist-button] {
      margin-top: 20px;
    }
  }
}
