@import "src/styles/scaffold";

.fs-product-grid {
  // --------------------------------------------------------
  // Design Tokens for ProductGrid
  // --------------------------------------------------------

  // Default properties
  --fs-product-grid-gap-mobile        : var(--fs-grid-gap-1);
  --fs-product-grid-gap-tablet        : var(--fs-product-grid-gap-mobile);
  --fs-product-grid-gap-desktop       : var(--fs-grid-gap-2);

  --fs-product-grid-columns-mobile    : 2;
  --fs-product-grid-columns-tablet    : 4;
  --fs-product-grid-columns-desktop   : var(--fs-product-grid-columns-tablet);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: grid;
  grid-template-columns: repeat(var(--fs-product-grid-columns-mobile), 1fr);
  grid-gap: var(--fs-product-grid-gap-mobile);
  grid-template-rows: max-content;
  grid-column: 12 span / 12;

  article[class*='product-card'] {
    margin: 0;
  }

  &[data-fs-product-grid-columns="1"] {
    grid-template-columns: 1fr;

    article[class*='product-card'] {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      flex-direction: row;
      flex-wrap: wrap;
      padding: 23px 0;
      
      @include media(">=notebook") {
        padding: 0;
      }
    }

    [class*='like audv-absolute audv-top-4 audv-right-4 audv-z-10'] {
      top: 10px;
    }

    div[class*='audv-relative audv-overflow-hidden'] {
      grid-column: 5 span / 5;
      grid-row: 2 span / 2;

      @include media(">=notebook") {
        grid-column: 3 span / 3;
        grid-row: 2 span / 2;
      }
    }

    [class*='product-card__desc'] {
      display: -webkit-box !important;
      margin-bottom: 0;
    }

    div[class*='product-card__info'] {
      width: calc(100% - 180px);

      @include media(">=notebook") {
        padding-right: 50px;
      }
    }

    div[class*='product-card__info'] {
      grid-column: 13 span / 13;
      grid-column-start: 5;
      width: 100%;

      @include media(">=notebook") {
        grid-column: 13 span / 13;
        grid-column-start: 3;
      }
    }

    article[class*='product-card'] figure[class*='product-card__figure'] {
      margin: 0 !important;
      width: 100% !important;
    }

    article[class*='product-card'] figure[class*='product-card__figure'] img {
      object-fit: contain;
      height: 200px;
    }
    
    div[class*='audv-relative audv-mt-auto audv-p-2.5'] {
      grid-column: 13 span / 13;
      grid-column-start: 5;

      @include media(">=notebook") {
        grid-column: 6 span / 6;
        grid-column-start: 3;
      }
    }

    div[class*='product-card__info'] a[class*='product-card__link'] {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left !important;
    }
  }

  &[data-fs-product-grid-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }

  &[data-fs-product-grid-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }

  &[data-fs-product-grid-columns="4"] {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media(">=tablet") {
    $pagination-start-index: 2;
    grid-gap: var(--fs-product-grid-gap-tablet);

    &:nth-of-type(n + #{$pagination-start-index}) {
      margin-top: var(--fs-product-grid-gap-desktop);
    }
  }

  @include media(">=notebook") {
    grid-gap: var(--fs-product-grid-gap-desktop);
  }
}
