@import '../scaffold.scss';

@import './components/header.scss';

[data-fs-carousel] {
    position: relative;
    [aria-label="next"],
    [aria-label="previous"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    [data-fs-bullets] {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 20px 0;
    }

    [data-fs-bullet] {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: var(--aud-gray);
        opacity: 0.6;
        &[aria-selected="true"] {
            background-color: var(--aud-gray);
            opacity: 100;
        }
    }

    [aria-label="next"] {
        right: 0;
    }
}